@model Nhom1_Ql_NhanSu.Models.Entities.Kpi1

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        text-decoration: none;
    }
</style>
<h1>Thông Tin</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChucVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChucVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiLamDungGio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiLamDungGio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiLamDayDu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiLamDayDu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoanThanhTotCongViec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoanThanhTotCongViec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhGiaKpi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhGiaKpi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
