@model IEnumerable<Nhom1_Ql_NhanSu.Models.Entities.Kpi1>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table, td, th {
        border: 2px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 80%;
        margin: auto;
    }

    th, td {
        padding: 15px;
    }

    a{
        text-decoration: none;
    }

    .button {
        display: inline-block;
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none;
        font-weight: bold;
    }

    .edit-button {
        background-color: #428bca;
        color: #ffffff;
    }

    .details-button {
        background-color: #5cb85c;
        color: #ffffff;
    }

    .delete-button {
        background-color: #d9534f;
        color: #ffffff;
    }
</style>

<h1>Đánh Giá KPI</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChucVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiLamDungGio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiLamDayDu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoanThanhTotCongViec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhGiaKpi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiLamDungGio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiLamDayDu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoanThanhTotCongViec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhGiaKpi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
