@model IEnumerable<Nhom1_Ql_NhanSu.Models.Entities.Dchinhsach>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table, td, th {
        border: 2px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 80%;
        margin: auto;
    }

    th, td {
        padding: 15px;
    }

    a {
        text-decoration: none;
    }

    .button {
        display: inline-block;
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none;
        font-weight: bold;
    }

    .edit-button {
        background-color: #428bca;
        color: #ffffff;
    }

    .details-button {
        background-color: #5cb85c;
        color: #ffffff;
    }

    .delete-button {
        background-color: #d9534f;
        color: #ffffff;

</style>


<h1 class="text-center">Chính sách</h1>

<p>
    <a class="button edit-button" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
                <td>
                    <a class="button edit-button" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="button details-button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="button delete-button" asp-controller="Dchinhsaches" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
